.photo-grid__container {
  display: grid;
  gap: 14px;
  grid-template-columns: repeat(3, 300px);
  margin-bottom: 92px;
}

@media screen and (min-width: 1280px) {
  .photo-grid__container {
    gap: 16px;
    grid-template-columns: repeat(4, 284px);
  }
}

@media screen and (max-width: 980px) {
  .photo-grid__container {
    gap: 16px;
    grid-template-columns: repeat(2, 352px);
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 730px) {
  .photo-grid__container {
    gap: 12px;
    grid-template-columns: 288px;
    margin-bottom: 64px;
  }
}
