.header__lang[type="radio"] {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.header__lang[type="radio"]:checked + .header__lang-visible {
  border-bottom: 2px solid #fff;
}
