.header__lang {
  color: #fff;
  font-size: 24px;
  line-height: 1.15;
  font-weight: 400;
  text-decoration: none;
 }

 .header__lang:hover {
  opacity: .8;
  transition: opacity .4s ease;
}

 @media screen and (max-width: 424px) {
  .header__lang {
    font-size: 18px;
    line-height: 1.1;
    font-weight: 400;
  }
}
