.header {
  max-width: 928px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 48px 48px;
}

@media screen and (min-width: 1280px) {
  .header {
    max-width: 1184px;
    padding-bottom: 56px;
  }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  .header {
    max-width: 720px;
    padding: 16px 24px 48px;
  }
}

@media screen and (min-width: 320px) and (max-width: 424px) {
  .header {
    max-width: 288px;
    padding: 16px 16px 48px;
  }
}
